#AboutPanel {
    padding: s(l);
    background: url(../img/about-bg.png) 50% 50% no-repeat cover;

    @media #{mq(m)} {
        padding: s(xxl) s(l);
        background: url(../img/about-bg.png) -295% 50% no-repeat;
    }

    @media #{mq(l)} {
        padding: s(xxl) 0;
    }

    .section-actions {
        position: static;
        margin-top: s(l);
        text-align: center;

        @media #{mq(m)} {
            position: absolute;
            margin-top: 0;
            text-align: left;
            padding: 0 s(l);
        }

        @media #{mq(l)} {
            padding: 0;
        }
    }


    .work-logos {
        margin-bottom: s(xxl);

        ul {
            list-style: none;
            margin: s(l) 0 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            flex-wrap: wrap;
            flex-direction: column;

            @media #{mq(m)} {
                justify-content: center;
                flex-direction: row;
            }

            @media #{mq(l)} {
                flex-wrap: nowrap;
            }

            li {
                text-align: center;
                margin: s(m) 0;

                @media #{mq(m)} {
                    margin: s(l);
                }

                @media #{mq(l)} {
                    margin: 0;
                }
                
                img { display: inline-block; }
            }
        }
    }

    .skills-container {

        @media #{mq(m)} {
            max-width: 70%;
            margin-bottom: s(xxl);
        }

        .skills {
            display: flex;
            
            .skill-set {
                margin-right: s(xl);

                ul {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    
                    li {
                        margin-top: s(xs);
                    }
                }
            }
        }
    }
}