#TopPanel {
    background: c(main);
    color: c(tertiary);
    min-height: 100vh;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: s(l);

    @media #{mq(m)} {
        padding: s(l);
        height: auto;
    }

    @media #{mq(l)} {
        padding: 0;
    }

    

    .split-panel {
        height: 100%;
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        flex-direction: column;

        margin-top: 80%;

        @media #{mq(m)} {
            margin-top: 0;
            flex-direction: row;
        }
    }

    h1 {
        font-size: f(f2);
        margin: s(s) 0 0;
        padding: 0;

        @media #{mq(m)} {
            font-size: f(f1);
        }

        span {
            font-weight: w(thin);
        }
    }

    h2 {
        font-family: $sans;
        font-weight: w(regular);
        font-size: f(f4);
        line-height: 1.5;
        margin: s(m) 0;
    }

    .devices {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        @media #{mq(m)} {
            justify-content: flex-start;
        }

        img {
            display: block;
        }

        .mobile {

            img {

                margin-top: s(xl);

                @media #{mq(m)} {
                    margin-right: 40px; 
                }
            }
        }

        .bigger {
            display: none;

            @media #{mq(l)} {
                display: block;
            }
            img {
                margin-top: s(l);

                &:first-child {
                    margin-top: 0;
                }
            }
        }
    }

    .actions {
        text-align: center;

        @media #{mq(m)} {
            display: block;
            text-align: left;
        }

        .btn {
            margin-top: s(sm);

            @media #{mq(m)} {
                margin-top: 0;
                margin-right: s(sm);
            }

            &.primary {
                display: block;
                width: 100%;
                text-align: center;

                @media #{mq(m)} {
                    display: inline-block;
                    width: auto;
                    text-align: inherit;
                }
            }
        }

    }

    .btn {

        &.w-icon {
            color: c(tertiary);
        }
    }

    .section-actions {
        display: none;

        @media #{mq(m)} {
            display: block;
            padding: 0 s(l);
        }

        @media #{mq(l)} {
            padding: 0;
        }
    }
}