html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    font-family: $sans;
    font-size: 16px;
    background: c(tertiary);
    color: c(secondary);
}

.no-scroll { overflow-y: hidden; }


h1,h2,h3,h4,h5,h6 {
    font-family: $slab;
}

a {
    color: c(secondary);
    text-decoration: none;
    transition: all 0.2s cubic-bezier(0.47, 0, 0.745, 0.715);

    &:hover {
        color: c(cta);
    }
}

p {
    line-height: 1.5;
    padding: s(sm) 0;
}

section {
    padding: s(xxl) 0;
    position: relative;

    h2 { 
        font-size: f(f2); 
        margin: 0 0 s(sm);
    }

    h3 {
        font-size: f(f3);
        margin: 0 0 s(m);
    }
}


.container {
    max-width: $container;
    margin: 0 auto;
}


.btn {
    display: inline-block;
    padding: 11px s(sm);
    border-radius: r(r1);
    transition: all 0.2s cubic-bezier(0.47, 0, 0.745, 0.715);


    &.raised {
        box-shadow: 2px 2px 1px rgba(0,0,0,0.1);
        font-family: $slab;

        &.primary {
            background-color: c(cta); 
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: w(bold);
            color: c(tertiary);

            &:hover {
                background: c(secondary);
                color: c(tertiary);
            }
        }
    }

    &.blank,
    &.secondary,
    &.tertiary {

        &:hover {
            background: rgba(0,0,0,0.05);
            color: inherit;
        }
    }

    &.w-icon {
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    &.tertiary {
        color: c(cta);
    }

    &.icon {
        background: none;
        border: 0;

        &:hover {
            cursor: pointer;
        }
    }
}

.section-actions {
    position: absolute;
    bottom: s(xxl);
    left: 0;
    right: 0;
}

.cover {
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#overlay {
    display: none;
    background: transparentize(c(secondary), 0.2);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99;
}

.popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    z-index: 100;
    background: c(white);
    border-radius: r(r2);
    width: 90%;
    height: 90%;
    overflow: hidden;
    @include elevation(16);

    @media #{mq(xl)} {
        width: 70%;
        height: 70%;
    }

    .popup-header {
        display: flex;
        align-items: center;
        background: c(white);
        padding: s(l);

        h2 { 
            flex: auto; 
            margin: 0;
            font-size: f(f3);

            @media #{mq(m)} {
                font-size: f(f2);
            }
        }

        .icon { font-size: f(f4); }
    }

    .popup-content {
        position: relative;
        height: 100%;
        overflow: auto;
        
        @media #{mq(xl)} {
            overflow: hidden;
        }

        h3 { 
            margin: s(m) 0 0; 
            font-size: f(f4);

            @media #{mq(m)} {
                font-size: f(f3);
            }
        }

        p { margin: s(xs) 0; }

        .project-roles {
            padding: 0 s(l) s(l);
            z-index: 2;

            @media #{mq(xl)} {
                position: absolute;
                left: s(l);
                padding: 0 s(l) 0 0;
                top: 0;
                max-width: 40%;
            }

            ul {
                list-style: none;
                margin: s(m) 0 0 0;
                padding: 0;

                li {
                    display: inline-block;
                    margin: s(xs);
                    background: c(main);
                    color: c(white);
                    padding: s(s) s(m);
                    border-radius: r(r2);
                    border: 1px solid c(primary);
                }
            }
        }
        
        .project-screenshots {
            padding: 0 s(l);

            @media #{mq(xl)} {
                position: relative;
                max-height: 100%;
                padding: 0 s(l) s(l);
                margin-left: 40%;
                z-index: 1;
                overflow: auto;
            }

            ul {
                list-style: none;
                margin: 0;
                padding: 0;

                li {
                    padding: s(m);
                    background: c(secondary);
                    margin: s(m) 0;
                    @include elevation(1);

                    img {
                        display: block;
                        width: 100%;
                    }
                }
            }
        }
    }
}